/* General Styles */

* {
    margin: 0;
    padding: 0;
}

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

.heading {
    font-size: 2rem;
    font-weight: 800;
}

.body_text {
    font-size: 1rem;
    font-weight: 500;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem 1.5rem;
}

nav .nav_btn {
    cursor: pointer;
    padding: 1rem 1rem;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
}

nav h3 {
    font-size: 1.5rem;
}

nav .nav_btn:hover {
    background-color: #333;
    color: white;
}

/* Hero */

.hero {
    background-image: url(./assets/Hero-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;   
}

.hero_content {
    text-align: center;
    margin: auto;
    width: 65%;
}

.hero_content img {
    width: 11rem;
    margin-top: 3rem;
}
.hero_content h2 {
    font-size: 2.6rem;
    font-weight: 800;
    margin-top: 2rem;
}
.hero_content p {
    font-size: 1rem;
    margin-top: 2rem;
}

.hero button {
    background-color: #333;
    color: #fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2rem;
}

/* Why Web Dev Section */

.why {
    background-color: #f5f5f5;
    text-align: center;
    border: 20px;
    width: 55%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.content {
    padding: 3rem 8rem;
}

.why p {
    margin-top: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0) 100%
    );
    padding: 3rem 2rem;
    text-align: left;
}

.card h4 {
    color: rgba(21, 30, 51, 0.7);
    font-size: 1.4rem;
    font-weight: 700;
}

.card_text {
    width: 50%;
}

.card button {
    cursor: pointer;
    padding: 0.7rem 1.7rem;
    border: 1px solid #333;
    background-color: white;
    text-align: center;
    font-size: 0.9rem;  
    margin-top: 4rem;
}

.right {
    background: linear-gradient(
        to left,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0) 100%
    );
}

/* Inspiration */

.inspiration {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.frame {
    padding: 2rem;
    margin: auto;
    overflow: hidden;
    width: 65%;
    height: 500px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 20px;
}

.inspiration iframe {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* Current Target */

.current {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    width: 70%;
    margin: auto;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.tech img {
    width: 3rem;
}

.tech_card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
    border-radius: 18px;
}

.tech_card a {
    color: #333;
}

.ht {
    background-color: rgba(255, 76, 30, 0.05);
}

.css {
    background-color: rgba(0, 76, 232, 0.05);
}

.js {
    background: rgba(255, 223, 0, 0.05);
}