/* General Styles */

* {
    margin: 0;
    padding: 0;
}

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

.heading {
    font-size: 2rem;
    font-weight: 800;
}

.body_text {
    font-size: 1rem;
    font-weight: 500;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem 1.5rem;
}

nav .nav_btn {
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
}

nav h3 {
    font-size: 1.5rem;
}

nav .nav_btn:hover {
    background-color: #333;
    color: white;
}

/* Hero */

.hero {
    background-image: url(/assets/Hero-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;   
}

.hero_content {
    text-align: center;
    margin: auto;
    width: 65%;
}

.hero_content img {
    width: 11rem;
    margin-top: 3rem;
}
.hero_content h2 {
    font-size: 2.6rem;
    font-weight: 800;
    margin-top: 2rem;
}
.hero_content p {
    font-size: 1rem;
    margin-top: 2rem;
}

.hero button {
    background-color: #333;
    color: #fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2rem;
}

/* Why Web Dev Section */

.why {
    background-color: #f5f5f5;
    text-align: center;
    border: 20px;
    width: 55%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.content {
    padding: 3rem 8rem;
}

.why p {
    margin-top: 2rem;
}

